<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= simple_format(@contact.message) %></p>
    <hr />
    <p><strong><%= @contact.name %></strong> (via codedry.com)</p>
  </body>
</html>
