<!-- ******HEADER****** -->
<header id="header" class="header">
  <div class="container">
    <h1 class="logo pull-left">
      <%= link_to root_path do %>
        <span class="logo-title">Codedry</span>
      <% end %>
    </h1><!--//logo-->
    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button><!--//nav-toggle-->
      </div><!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active nav-item"><%= link_to 'Home', root_path %></li>
            <li class="nav-item"><%= link_to 'Blog', 'http://blog.codedry.com' %></li>
            <li class="nav-item nav-item-cta last"><%= link_to 'Contact Us', '#contactus', class: 'btn btn-cta btn-cta-primary' %></li>
        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
  </div><!--//container-->
</header><!--//header-->
