<!-- ******CONTACTUS****** -->
<section id="contactus" class="signup">
    <div class="container text-center">
        <h2 class="title">Ready to kickstart your business with Tempo?</h2>
        <p class="summary">Sign up to try Tempo FREE for 30 days! No credit card needed.</p>
        <div id="contact-form">
          <%= render "contacts/form" %>
        </div>
    </div>
</section><!--//contactus-->
