<!-- ******CONTACTUS****** -->
<section id="contactus" class="signup">
    <div class="fixed-container">
    </div>
    <div class="container text-center">
        <h2 class="title">Ready to kickstart your project/team with Codedry?</h2>
        <p class="summary">Send us a message to tell us about your project or training needs</p>
        <div id="contact-form">
          <%= render "contacts/form" %>
        </div>
    </div>
</section><!--//contactus-->
