<!-- ******PROMO****** -->
<section id="promo" class="promo section">
    <div class="container intro">
        <h2 class="title">Everything you need<br />to get your startup business online</h2>
        <p class="summary">Codedry has mastered the art of crafting quality web applications using Ruby on Rails</p>
        <a class="btn btn-cta btn-cta-secondary" href="#contactus">Learn More</a>
    </div><!--//intro-->

    <div id="contactus" class="fixed-container">
        <div class="signup">
            <div class="container text-center">
              <!--
                <h3 class="title">Try Tempo Free</h3>
                <p class="summary">Sign up to try Tempo FREE for 30 days! No credit card needed.</p>
                <form class="signup-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your email address">
                    </div>
                    <button type="submit" class="btn btn-cta btn-cta-primary">SIGN UP</button>
                </form>
              -->
            </div><!--//contianer-->
        </div><!--//signup-->
    </div>
</section><!--//promo-->
