<section id="promo" class="promo section">
  <div class="container intro">
    <h2 class="title">Everything you need<br />to get your startup business online</h2>
    <p class="summary">Codedry has mastered the art of crafting quality web applications using Ruby on Rails</p>
    <%= link_to "Learn More", "#contactus", class: "btn btn-cta btn-cta-primary" %>
  </div>
</section>
