
<!-- * Facebook Like button script starts -->
<div id="fb-root"></div>
<script>
// (function(d, s, id) {
// var js, fjs = d.getElementsByTagName(s)[0];
// if (d.getElementById(id)) return;
// js = d.createElement(s); js.id = id;
// js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
// fjs.parentNode.insertBefore(js, fjs);
// }(document, 'script', 'facebook-jssdk'));
</script>
<!-- * Facebook Like button script ends -->

<!-- ******PROMO****** -->
<section id="promo" class="promo section">
    <div class="container intro">
        <h2 class="title">Everything you need<br />to get your startup business online</h2>
        <p class="summary">Tempo is a Bootstrap-based HTML5 template designed specifically to help startups promote their products or services.</p>
        <a class="btn btn-cta btn-cta-secondary" href="tour.html">Learn More</a>
    </div><!--//intro-->

    <div class="fixed-container">
        <div class="signup">
            <div class="container text-center">
                <h3 class="title">Try Tempo Free</h3>
                <p class="summary">Sign up to try Tempo FREE for 30 days! No credit card needed.</p>
                <form class="signup-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter your email address">
                    </div>
                    <button type="submit" class="btn btn-cta btn-cta-primary">SIGN UP</button>
                </form><!--//signup-form-->
            </div><!--//contianer-->
        </div><!--//signup-->
        <div class="social text-center">
            <div class="container">
                <span class="line">Love Tempo? Spread the word:</span>

                <!--//twitter tweet button code starts -->
                <!-- <div class="twitter-tweet">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="3rdwave_media" data-hashtags="bootstrap">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div> -->
                <!--//twitter tweet button code ends -->

                <!--//facebook like button code starts-->
                <!-- <div class="fb-like" data-href="http://themes.3rdwavemedia.com/tempo/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" ></div> -->
                <!--//facebook like button code ends-->
            </div>
        </div><!--//social-->
    </div>
</section><!--//promo-->
