<!-- ******VIDEO****** -->
<section id="video" class="video section">
    <div class="container">
        <h2 class="title">Grow your business, start today!</h2>
        <p class="summary">If you have a promo video, you can put it in this block. Vitae dapibus elit viverra. Praesent ullamcorper dignissim arcu, at vulputate ligula suscipit eu.</p>
        <div class="control text-center">
            <button class="play-trigger" data-toggle="modal" data-target="#tour-video"><%= fa_icon "play" %></button>
            <p>Watch Video</p>

            <!-- Video Modal -->
            <div class="modal fade modal-video" id="tour-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 id="videoModalLabel" class="modal-title">Video Tour</h4>
                        </div>
                        <div class="modal-body">
                            <div class="video-container">
                                <iframe src="//player.vimeo.com/video/32424882?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div><!--//video-container-->
                        </div><!--//modal-body-->
                    </div><!--//modal-content-->
                </div><!--//modal-dialog-->
            </div><!--//modal-->
        </div><!--//control-->
    </div>
</section><!--//video-->
