<div class="item col-md-4 col-sm-12 col-xs-12">
  <div class="item-inner">
    <div class="icon"><%= fa_icon icon_name %></div>
    <div class="details">
      <h4><%= title %></h4>
      <p><%= yield %></p>
    </div>
  </div>
</div>
