<!DOCTYPE html>
<html lang="en">

<%= render 'shared/head' %>

<body>
  <div class="wrapper">
    <%= render 'shared/header' %>
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
